.control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
@media screen and (min-height: 770px) {
    .control {
        margin-bottom: 4rem;
    }
}

.control__playbtn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    background-color:lightsteelblue;
    color: white;
    outline-width: 0;
    font-size: 24px;
    cursor: pointer;
}

.control__skipbtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
audio::-moz-media-controls-play-button{
    display: none;
}
audio::-moz-media-controls-play-button{
    display: none;
}
audio {
    border-radius: 1.5rem;
}