* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: slategray;
  background-size: cover;
  backdrop-filter: blur(40px);
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100%;
}


